<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
        <link rel="manifest" href="img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/js/index.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/css/styles.css">

        <title><%= loc.name %> - <%= loc.profession %></title>
    </head>
    <body>
        <input id="iDarkStyle" type="checkbox" class="cDarkStyle">
        <div id="iMainContainer" class="container-fluid container-xl">           
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1 class="display-4"><%= loc.name %></h1>
                            <h2 class="text-success"><%= loc.profession %></h2>    
                        </div>
                        <div class="col-auto mr-3">
                            <img id='iProfileImage' src="/img/profilePicture.jpg" alt="Emilio Gómez Berlanga" class="img-thumbnail" width="200px" height="200px"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4" id="iContactInfo">
                <div class="col-md-4 col-12 text-center">
                    <i class="bi bi-house-fill"></i>
                    <a class="align-middle" target="_blank" href="https://maps.google.com/?q=<%= loc.address %>"><%= loc.contact.address %></a>
                </div>                
                <div class="col-md-4 col-12 text-center">
                    <i class="bi bi-envelope-fill"></i>
                    <a class="align-middle" href="mailto:<%= loc.contact.email %>"><%= loc.contact.email %></a></div>
                <div class="col-md-4 col-12 text-center">
                    <i class="bi bi-phone-fill"></i>
                    <a class="align-middle" href="tel:<%= loc.contact.phone %>"><%= loc.contact.phone %></a>
                </div>
            </div>            
            <nav id='iNavigation' class="navbar navbar-expand-lg navbar-dark bg-primary mb-5 d-print-none <%= (pdf==1) ? 'd-none':'' %>">
                <a class="navbar-brand dropdown-toggle text-uppercase" href="#" data-toggle="dropdown"><%= lang %></a>
                <div class="dropdown-menu">
                    <% loc.languages.list.forEach((language) => { %> 
                        <a class="dropdown-item <%= (lang == language.code) ? 'active' : '' %>" href="./?hl=<%= language.code %>"><%= language.name %></a>
                        <% }); %>   
                  </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#iNavigationLinks" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="iNavigationLinks">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link text-success" href="#iTechSkills"><%=loc.tech_skills.title %></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-success" href="#iWorkExperience"><%=loc.work_experience.title %></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-success" href="#iEducation"><%=loc.education.title %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" href="#iLanguages"><%=loc.languages.title %></a>
                    </li>
                  </ul>
                  <div class="mx-3">
                    <label for="iDarkStyle" id="iDarkIcon" class="text-success"><i class="bi bi-moon"></i></label>
                    <label for="iDarkStyle" id="iLightIcon" class="text-success"><i class="bi bi-sun"></i></label>  
                  </div>
                  <a download="" class="btn btn-outline-success my-2 my-sm-0" type="submit" href="./download/<%= lang %>" title="<%= loc.download %>" >
                    <i class="bi bi-download"></i>
                    </a>
                </div>
           </nav>            
            
            <div id="iAboutMe" class="card border-primary mb-3">
                <div class="card-header text-white bg-primary h5">
                    <i class="bi bi-person-bounding-box"></i>
                    <span class="align-middle"><%= loc.about_me.title %></span>
                </div>                    
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text"><%= loc.about_me.text %></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    <div id="iTechSkills" class="card border-danger mb-3 h-100">
                        <div class="card-header bg-danger text-white h5">
                            <i class="bi bi-cpu-fill"></i>
                            <span class="align-middle"><%= loc.tech_skills.title %></span></div>
                        <div class="card-body">
                            <h5 class="card-title"><%= loc.tech_skills.subtitle %></h5>
                            <div class="row my-3">
                                <div class="col">
                                    <span class="badge badge badge-info"><%= loc.tech_skills.grades.basic %></span>
                                    <span class="badge badge-primary"><%= loc.tech_skills.grades.proficient %></span>
                                    <span class="badge badge-success"><%= loc.tech_skills.grades.expert %></span>
                                </div>
                            </div>
                          <% loc.tech_skills.skills.forEach((skill) => { %>
                          <div class="row">
                              <div class="col-md-4 col-12 text-md-right pr-0"><%= skill.name %></div>
                              <div class="col-md-5 col-12">
                                <div class="progress">
                                    <% if (skill.value <= 33) { %>
                                        <div class="progress-bar bg-info" role="progressbar" style="width: <%= skill.value  %>%" aria-valuenow="<%= skill.value %>" aria-valuemin="0" aria-valuemax="100"></div>
                                    <% } else if (skill.value <= 66 ) { %>
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-darkblue" role="progressbar" style="width: <%= (skill.value -33) %>%" aria-valuenow="<%= skill.value %>" aria-valuemin="0" aria-valuemax="100"></div>
                                    <% } else if (skill.value <= 100 ) { %>
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-darkblue" role="progressbar" style="width: 33%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%= (skill.value -66)  %>%" aria-valuenow="<%= skill.value %>" aria-valuemin="0" aria-valuemax="100"></div>
                                    <% } %>
                                  </div>        
                              </div>
                          </div>
                          <% }); %>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12 mb-3">
                    <div id="iWorkExperience" class="card border-success">
                        <div class="card-header bg-success text-white h5">
                            <i class="bi bi-laptop"></i>
                            <span class="align-middle"><%= loc.work_experience.title %></span>
                        </div>
                        <div class="card-body">
                            <% loc.work_experience.jobs.forEach((job) => { %>                   
                                <div class="row mb-2">
                                    <div class="col-md-6 col"><span class="badge badge-pill badge-success pt-1"><%= job.period %></span></div>
                                    <div class="col-md-6 col text-right"><%= job.location %></div>                                  
                                </div>
                                <div class="row">
                                    <h5 class="card-title col"><%= job.position %></h5>
                                    <div class="col text-right"><a href="<%= job.website %>"><%= job.company %></a></div>                              
                                </div>
                                <ul>
                                    <% job.tasks.forEach((task) => { %>    
                                        <li><%= task.description %></li>
                                    <% }); %>    
                                </ul>
                                <div class="h5"><%= job.soft_skills.title %></div>
                                <% job.soft_skills.skills.forEach((skill) => { %>    
                                    <span class="badge badge-success"><%= skill.name %></span>
                                <% }); %>    
                                <hr class="border-success">
                            <% }); %>    
                        </div>
                    </div>    
                </div>
                <div class="col-md-6 col-12 mb-3">
                    <div id="iEducation" class="card border-info">
                        <div class="card-header text-white bg-info h5">
                            <i class="bi bi-book" ></i>
                          <span class="align-middle"><%= loc.education.title %></span>
                        </div>
                        <div class="card-body">
                            <% loc.education.studies.forEach((study) => { %>   
                                <div class="row mb-2">
                                    <div class="col-md-6 col">
                                        <span class="badge badge-pill badge-info pt-1"><%= study.period %></span>
                                    </div>
                                    <div class="col-md-6 col text-right"><%= study.location %></div>  
                                </div>
                                <div class="row">
                                    <h5 class="card-title col"><%= study.title %></h5>
                                    <div class="col text-right text-info"><%= study.center %></div>                              
                                </div>
                                <ul>
                                    <% study.content.forEach((subjects) => { %>    
                                        <li> <%= subjects.subject %></li>
                                    <% }); %>
                                </ul>
                                <div class="badge badge-info"><%= study.duration %></div>
                                <hr class="border-info">
                            <% }); %>    
                        </div>
                    </div>
                    <div id="iLanguages" class="card border-info my-3">
                        <div class="card-header text-white bg-info h5">
                            <i class="bi bi-flag"></i>
                            <span class="align-middle"><%= loc.languages.title %></span>
                        </div>                    
                        <div class="card-body">
                        <h5 class="card-title"></h5>                        
                        <% loc.languages.list.forEach((lang) => { %> 
                            <div class="row">
                                <div class="col-md-3 col-12 pr-0"><%= lang.name %></div>
                                <div class="col-md-9 col-12">
                                    <div class="progress">
                                        <% let bgclass = "" %>
                                        <% if ( lang.value <= 33 ) { bgclass = "bg-info" } %>
                                        <% if ( lang.value >= 67 ) { bgclass = "bg-success" } %>
                                        <div class="progress-bar <%= bgclass %>" role="progressbar" style="width: <%= lang.value  %>%" aria-valuenow="<%= lang.value %>" aria-valuemin="0" aria-valuemax="100"><%= lang.skill %></div>
                                    </div>    
                                </div>
                            </div>
                        <% }); %>
                        </div>
                    </div>
                    <div class="row <%= (pdf==0) ? 'd-none':'' %>">
                        <div class="col align-self-center">
                            <span class="h4 text-primary"> 
                                <i class="bi bi-globe"></i>
                            </span>
                            <span class="h4"> cv.egomez.net?hl=<%= lang %> </span>
                        </div>
                        <div class="col-auto">
                            <img src="/img/cv_web_qr_<%= lang %>.svg" alt="egomez-developer.tk" width="110" class="img-thumbnail" >
                        </div>    
                    </div>
                </div>                
            </div>
        </div>
        <a href="#iNavigation" id="iMoveUpBtn" class="btn btn-default btn-success position-fixed fixed-bottom d-print-none <%= (pdf==1) ? 'd-none':'' %>">
            <i class="bi bi-arrow-up"></i>
        </a>
    </body>
</html>