<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/js/index.js"></script>

        <link rel="stylesheet" href="/css/styles.css">

        <title><%= loc.name %> - <%= loc.profession %></title>
    </head>
    <body>
        <div class="container-fluid container-xl">           
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1 class="display-4"><%= loc.name %></h1>
                            <h2 class="text-success"><%= loc.profession %></h2>    
                        </div>
                        <div class="col-auto">
                            <img id='iProfileImage' src="/img/profilePicture.jpg" alt="Emilio Gómez Berlanga" class="img-thumbnail" width="200px" height="200px"> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5" id="iContactInfo">
                <div class="col-md-4 col-12 text-center"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                  </svg>
                    <a target="_blank" href="https://maps.google.com/?q=<%= loc.address %>"><%= loc.contact.address %></a>
                </div>                
                <div class="col-md-4 col-12 text-center">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                      </svg>
                      <a href="mailto:<%= loc.contact.email %>"><%= loc.contact.email %></a></div>
                <div class="col-md-4 col-12 text-center">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-phone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2zm6 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    <a href="tel:<%= loc.contact.phone %>"><%= loc.contact.phone %></a>
                </div>
            </div>            
            <nav id='iNavigation' class="navbar navbar-expand-lg navbar-dark bg-primary mb-5 d-print-none <%= (pdf==1) ? 'd-none':'' %>">
                <a class="navbar-brand dropdown-toggle text-uppercase" href="#" data-toggle="dropdown"><%= lang %></a>
                <div class="dropdown-menu">
                    <% loc.languages.list.forEach((language) => { %> 
                        <a class="dropdown-item <%= (lang == language.code) ? 'active' : '' %>" href="./?hl=<%= language.code %>"><%= language.name %></a>
                        <% }); %>   
                  </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#iNavigationLinks" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="iNavigationLinks">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link text-success" href="#iTechSkills"><%=loc.tech_skills.title %></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-success" href="#iWorkExperience"><%=loc.work_experience.title %></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-success" href="#iEducation"><%=loc.education.title %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success" href="#iLanguages"><%=loc.languages.title %></a>
                    </li>
                  </ul>
                  <a class="btn btn-outline-success my-2 my-sm-0" type="submit" href="./download/<%= lang %>">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                        <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                      </svg>
                    </a>
                </div>
           </nav>            
            
            <div id="iAboutMe" class="card border-primary mb-3">
                <div class="card-header text-success bg-primary h5">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-bounding-box" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    <span><%= loc.about_me.title %></span>
                </div>                    
                <div class="card-body">
                  <h5 class="card-title"></h5>
                  <p class="card-text"><%= loc.about_me.text %></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    <div id="iTechSkills" class="card border-danger mb-3 h-100">
                        <div class="card-header bg-danger text-white h5"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cpu-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5A1.5 1.5 0 0 0 5 6.5v3A1.5 1.5 0 0 0 6.5 11h3A1.5 1.5 0 0 0 11 9.5v-3A1.5 1.5 0 0 0 9.5 5h-3zm0 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
                          </svg>
                          <span><%= loc.tech_skills.title %></span></div>
                        <div class="card-body">
                            <h5 class="card-title"><%= loc.tech_skills.subtitle %></h5>
                            <div class="row my-3">
                                <div class="col">
                                    <span class="badge badge badge-info"><%= loc.tech_skills.grades.basic %></span>
                                    <span class="badge badge-primary"><%= loc.tech_skills.grades.proficient %></span>
                                    <span class="badge badge-success"><%= loc.tech_skills.grades.expert %></span>
                                </div>
                            </div>
                          <% loc.tech_skills.skills.forEach((skill) => { %>
                          <div class="row">
                              <div class="col-md-4 col-12 text-md-right pr-0"><%= skill.name %></div>
                              <div class="col-md-5 col-12">
                                <div class="progress">
                                    <% if (skill.value <= 33) { %>
                                        <div class="progress-bar bg-info" role="progressbar" style="width: <%= skill.value  %>%" aria-valuenow="<%= skill.value %>" aria-valuemin="0" aria-valuemax="100"></div>
                                    <% } else if (skill.value <= 66 ) { %>
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar " role="progressbar" style="width: <%= (skill.value -33) %>%" aria-valuenow="<%= skill.value %>" aria-valuemin="0" aria-valuemax="100"></div>
                                    <% } else if (skill.value <= 100 ) { %>
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar " role="progressbar" style="width: 33%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%= (skill.value -66)  %>%" aria-valuenow="<%= skill.value %>" aria-valuemin="0" aria-valuemax="100"></div>
                                    <% } %>
                                  </div>        
                              </div>
                          </div>
                          <% }); %>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-12 mb-3">
                    <div id="iWorkExperience" class="card border-success">
                        <div class="card-header bg-success text-white h5">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-laptop" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M13.5 3h-11a.5.5 0 0 0-.5.5V11h12V3.5a.5.5 0 0 0-.5-.5zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11z"/>
                            <path d="M0 12h16v.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5V12z"/>
                            </svg>
                            <span><%= loc.work_experience.title %></span>
                        </div>
                        <div class="card-body">
                            <% loc.work_experience.jobs.forEach((job) => { %>                   
                                <div class="row mb-2">
                                    <div class="col-md-6 col"><span class="badge badge-pill badge-success pt-1"><%= job.period %></span></div>
                                    <div class="col-md-6 col text-right"><%= job.location %></div>                                  
                                </div>
                                <div class="row">
                                    <h5 class="card-title col"><%= job.position %></h5>
                                    <div class="col text-right"><a href="<%= job.website %>"><%= job.company %></a></div>                              
                                </div>
                                <ul>
                                    <% job.tasks.forEach((task) => { %>    
                                        <li><%= task.description %></li>
                                    <% }); %>    
                                </ul>
                                <div class="h5"><%= job.soft_skills.title %></div>
                                <% job.soft_skills.skills.forEach((skill) => { %>    
                                    <span class="badge badge-success"><%= skill.name %></span>
                                <% }); %>    
                                <hr class="border-success">
                            <% }); %>    
                        </div>
                    </div>    
                </div>
                <div class="col-md-6 col-12 mb-3">
                    <div id="iEducation" class="card border-info">
                        <div class="card-header text-white bg-info h5">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1 2.828v9.923c.918-.35 2.107-.692 3.287-.81 1.094-.111 2.278-.039 3.213.492V2.687c-.654-.689-1.782-.886-3.112-.752-1.234.124-2.503.523-3.388.893zm7.5-.141v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                          </svg>
                          <span><%= loc.education.title %></span>
                        </div>
                        <div class="card-body">
                            <% loc.education.studies.forEach((study) => { %>   
                                <div class="row mb-2">
                                    <div class="col-md-6 col">
                                        <span class="badge badge-pill badge-info pt-1"><%= study.period %></span>
                                    </div>
                                    <div class="col-md-6 col text-right"><%= study.location %></div>  
                                </div>
                                <div class="row">
                                    <h5 class="card-title col"><%= study.title %></h5>
                                    <div class="col text-right text-info"><%= study.center %></div>                              
                                </div>
                                <ul>
                                    <% study.content.forEach((subjects) => { %>    
                                        <li> <%= subjects.subject %></li>
                                    <% }); %>
                                </ul>
                                <div class="badge badge-info"><%= study.duration %></div>
                                <hr class="border-info">
                            <% }); %>    
                        </div>
                    </div>
                    <div id="iLanguages" class="card border-info my-3">
                        <div class="card-header text-white bg-info h5">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-globe" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4H2.255a7.025 7.025 0 0 1 3.072-2.472 6.7 6.7 0 0 0-.597.933c-.247.464-.462.98-.64 1.539zm-.582 3.5h-2.49c.062-.89.291-1.733.656-2.5H3.82a13.652 13.652 0 0 0-.312 2.5zM4.847 5H7.5v2.5H4.51A12.5 12.5 0 0 1 4.846 5zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5H7.5V11H4.847a12.5 12.5 0 0 1-.338-2.5zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12H7.5v2.923c-.67-.204-1.335-.82-1.887-1.855A7.97 7.97 0 0 1 5.145 12zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11H1.674a6.958 6.958 0 0 1-.656-2.5h2.49c.03.877.138 1.718.312 2.5zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12h2.355a7.967 7.967 0 0 1-.468 1.068c-.552 1.035-1.218 1.65-1.887 1.855V12zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5h-2.49A13.65 13.65 0 0 0 12.18 5h2.146c.365.767.594 1.61.656 2.5zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4H8.5V1.077c.67.204 1.335.82 1.887 1.855.173.324.33.682.468 1.068z"/>
                            </svg>
                            <span><%= loc.languages.title %></span>
                        </div>                    
                        <div class="card-body">
                        <h5 class="card-title"></h5>                        
                        <% loc.languages.list.forEach((lang) => { %> 
                            <div class="row">
                                <div class="col-md-3 col-12 pr-0"><%= lang.name %></div>
                                <div class="col-md-9 col-12">
                                    <div class="progress">
                                        <% let bgclass = "" %>
                                        <% if ( lang.value <= 33 ) { bgclass = "bg-info" } %>
                                        <% if ( lang.value >= 67 ) { bgclass = "bg-success" } %>
                                        <div class="progress-bar <%= bgclass %>" role="progressbar" style="width: <%= lang.value  %>%" aria-valuenow="<%= lang.value %>" aria-valuemin="0" aria-valuemax="100"><%= lang.skill %></div>
                                    </div>    
                                </div>
                            </div>
                        <% }); %>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <a href="#iNavigation" id="iMoveUpBtn" class="btn btn-default btn-success position-fixed fixed-bottom d-print-none <%= (pdf==1) ? 'd-none':'' %>">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
          </svg>
        </a>
    </body>
</html>